
body {
  background: #000000
}

p
  {
  font-size:14px;
  font-family:arial;
  color:white;
  }
h1
  {
  font-size:51px;
  font-family:arial;
  color:white;
  }
h3
  {
  font-size:37px;
  font-family:arial;
  color:white;
  }


.water {
  fill: #00248F;
}

.land {
  stroke: #FFF;
  stroke-width: 0.7px;
}

.land:hover {
  stroke-width: 1px;
}

.focused {
  stroke-width: 1px;
}

select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}
